<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 500px;
            margin-top: 50px;
        }
        body {
            background-color: cyan;
        }
        .color {
            background-color: rgb(105, 155, 186);
        }
    </style>
</head>
<body>
    <center>  <h3>Welcome To My School</h3></center> 
    <div class="container mt-9 ">
        <div class="col-20 mx-auto card p-4 shadow-lg color">
            <center><h2>Login</h2></center> 
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} 
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                
                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" name="password" class="form-control" id="password1">
                </div>
               
                <center><button type="submit" class="btn btn-primary">Login</button></center>
            </form>
        </div>
    </div>
</body>
</html>
