{% extends 'base.html' %}

{% block title %}Apply for New Admission{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2>Welcome to MotherLand</h2>
    <fieldset>
       <legend>Register Page</legend>
    
  <form action="" method="post" >
    {% csrf_token %}
        <div class="mb-3">
          <label for="firstName" class="form-label">FirstName</label>
          <input type="text" class="form-control" id="firstName" name="firstName" >
          <!-- <div id="user" class="form-text"> </div> -->
        </div>
       
        <div class="mb-3">
          <label for="lastName" class="form-label">LastName</label>
          <input type="text" class="form-control" id="lastName" name="lastName">
          <!-- <div id="user" class="form-text"> </div> -->
        </div>

        <div class="mb-3">
          <label for="userName" class="form-label">UserName</label>
          <input type="text" class="form-control" id="userName" name="userName">
          <!-- <div id="user" class="form-text"> </div> -->
        </div>
        

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Terms & Condition</label>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>

        <p><a href="/student/login">Have Account?</a></p>
      </form>
    </fieldset>
    </div>



      {% endblock %}
 