<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool</title>
</head>
<body>
    <h1>Welcome to MySchool</h1>
    <div class="school_container">
        <label for="Student"><a href="/Authentication/student_login">Student Login</a></label><br>
        <label for="Student"><a href="/Authentication/staff_login">Staff Login</a></label><br>

        <label for="Student"><a href="/SchoolBranch/student_application">Application Form for New Enrollment</a></label><br>
        <label for="Student"><a href="/SchoolBranch/staff_application">Application Form for Job (teaching or non teaching Staff)</a></label>
    </div>
</body>
</html>